<footer>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="clearfix">
          <div class="float-left">
            <a class="link-home" href="/" style="margin-right: 25px;"><img src="/assets/images/logo_circle.png" width="52" alt="Brian R Zaik" /></a>
          </div>
          <div class="float-left">
            <h3 class="margin-none">Brian Zaik</h3>
            <p class="font-gray font-light margin-none" style="margin-left: 2px;">Prepared with love in 2017.</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <ul class="nav right">
          <li class="active"><a href="/" class="underline-hover">Work</a></li>
          <li><a href="/about" class="underline-hover">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/assets/js/vendor/scrollreveal.min.js"></script>
<script src="/assets/js/vendor/slick.min.js"></script>

<script src="/assets/js/main.js"></script>
