<header class="container">
  <ul class="nav center home-block-margin">
    <li{% if page.namespace == "index" %} class="active"{% endif %}><a href="/" class="underline-hover">Work</a></li>
    <li{% if page.namespace == "about" %} class="active"{% endif %}><a href="/about" class="underline-hover">About</a></li>
  </ul>

  <div class="home center hidden-sm hidden-md">
    <div class="row">
      <div class="col-4">
        <hr class="header-line" />
      </div>
      <div class="col-4">
        <a class="link-home" href="/"><img src="/assets/images/logo_circle.png" width="85" alt="Brian R Zaik" /></a>
      </div>
      <div class="col-4">
        <hr class="header-line" />
      </div>
    </div>
  </div>

  <div class="home center hidden-lg">
    <a class="link-home" href="/"><img class="logo-img" src="/assets/images/logo_circle.png" width="64" alt="Brian R Zaik" /></a>
  </div>

  <h4 class="typed-headline center">
    Hi, I'm Brian, <span class="typed"></span>
  </h4>
</header>


<div id="scroll-arrow" class="scroll-arrow scroll-arrow-down">
  <a href="#index-work-blocks">
    <img class="bounce" src="/assets/images/arrow_down.png" alt="Scroll for more" />
  </a>
</div>

<div id="scroll-arrow-top" class="scroll-arrow scroll-arrow-top">
  <a href="#">
    <img src="/assets/images/arrow_up.png" alt="Go to Top" />
  </a>
</div>
