<header class="container header-short">
  <ul class="nav center home-block-margin">
    <li class="active"><a href="/" class="underline-hover">Work</a></li>
    <li><a href="#" class="underline-hover">About</a></li>
  </ul>

  <div class="home center hidden-sm hidden-md">
    <div class="row">
      <div class="col-4">
        <hr class="header-line" />
      </div>
      <div class="col-4">
        <a class="link-home" href="/"><img src="/assets/images/logo_circle.png" width="64" alt="Brian R Zaik" /></a>
      </div>
      <div class="col-4">
        <hr class="header-line" />
      </div>
    </div>
  </div>

  <div class="home center hidden-lg">
    <a class="link-home" href="/"><img src="/assets/images/logo_circle.png" width="64" alt="Brian R Zaik" /></a>
  </div>
</header>
