.slick-cards-image {
  transition: all 300ms ease;
  margin: 120px;

  img {
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.25);
    max-height: 300px;
  }

  &.slick-center {
    transform: scale(1.5);
  }
}

@media (max-width: $breakpoint-sm) {
  .slick-cards-image img {
    max-width: 240px;
  }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
  .slick-cards-image img {
    max-width: 400px;
  }
}
