body {
  background-color: #FFFFFA;
}

header {
  margin-top: 12px;
  margin-bottom: 250px;
}

footer {
  padding-bottom: 100px;
}

hr.header-line {
  border-color: $gray-light;
  margin: 2.25em 0;
}

.home {
  margin: 0 auto;

  .row [class^="col"] {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.scroll-arrow {
  position: absolute;
  bottom: 48px;
  opacity: 0.2;
  width: 100%;
  text-align: center;

  > img {
    margin: 0 auto;
    width: 30px;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  header {

    ul.nav {
      margin-bottom: 60px;
    }

    h4 {
      margin: 60px 0px;
    }
  }

  .home hr.header-line {
    margin: 60px auto;
    width: 100px;
  }
}
@media only screen and (min-width: $breakpoint-md) {
  header {
    margin-top: 20px;

    ul.nav {
      margin-bottom: 125px;
    }

    h4 {
      margin: 72px 0px;
    }

    h5 {
      width: 80%;
    }
  }
  .home {
    width: 500px;
  }
}
