body {
  background-color: #FFFFFA;
}

img {
  max-width: 100%;
}

header {
  margin-top: 12px;
  margin-bottom: 250px;

  ul.nav {
    margin-bottom: 60px;
  }

  hr.header-line {
    border-color: $gray-light;
    margin: 2.25em 0;
  }
}

header.header-short {
  margin-bottom: 80px;

  hr.header-line {
    margin: 1.8em 0;
  }
}

footer {
  padding-bottom: 100px;
}

.padder-margin {
  margin-bottom: 180px;
}

.padder-resume {
  margin-bottom: 60px;
}

.container-inset {

}

.home {
  margin: 0 auto;

  .row [class^="col"] {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.scroll-arrow {
  z-index: 9998;
  position: fixed;
  bottom: 48px;
  opacity: 0.2;
  width: 100%;
  text-align: center;

  img {
    margin: 0 auto;
    width: 30px;
  }
}

.scroll-arrow-top {
  z-index: 9999;
  display: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 100%;
  text-align: right;

  img {
    margin: 0 auto;
    width: 30px;
  }

  a {
    opacity: 0.2;
    transition: ease-in-out all 0.15s;

    &:hover {
      opacity: 1.0;
    }
  }
}

img.full {
  width: 100%;
  max-width: 100%;
}

// Responsive Behavior

// Small widths (smartphone)
@media (max-width: $breakpoint-sm) {
  header {
    h4 {
      margin: 60px 0px 120px 0px;
    }
  }

  .padder-margin {
    margin-bottom: 60px;
  }
}

// Medium widths (portrait tablet, large phone)
@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
  header {
    h4 {
      margin: 60px 0px;
    }
  }

  .scroll-arrow {
    bottom: 24px;
  }

  .photog {
    min-height: 500px;
  }

  footer {
    ul.nav.right {
      float: none;
      margin-top: 50px;

      li {
        display: block;
        text-align: center;
        margin: 12px 0px;
      }
    }
  }
}

// Large widths (landscape tablet, web)
@media (min-width: $breakpoint-md) {
  header {
    margin-top: 20px;

    ul.nav {
      margin-bottom: 100px;
    }

    h4 {
      margin: 72px 0px;
    }

    h5 {
      width: 80%;
    }
  }

  .photog {
    min-height: 850px;
  }

  .container-inset {
    width: 52%;
  }

  .home {
    width: 500px;
  }
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

span.typed-cursor {
  color: $link-color;
  font-weight: 100;
  text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
.typed-headline {
  min-height: 150px;
}
