.card-work {
  margin-bottom: 120px;

  .card-title {
    margin: 28px;
  }

  .card-title h4 {
    display: inline-block;
  }
}

.block {
  width: 100%;

  &.block-seafoam {
    background: linear-gradient(210.41deg, #B7F4E6 0%, #76E4CB 100%);
  }
  &.block-pink {
    background: linear-gradient(210.34deg, #F5D3FC 0%, #F4C0FF 100%);
  }
  &.block-peach {
    background: linear-gradient(210.35deg, #FFE9B6 0%, #FFCF80 100%);
  }
  &.block-sky {
    background: linear-gradient(210.35deg, #A9E9FF 0%, #80E0FF 100%);
  }
}

.block-home {
  height: 350px;
}

.block-page {
  padding: 45px 0px;
  margin-bottom: 75px;

  h1 {
    margin: 0px;
    line-height: normal;
  }
  .sub-header {
    font-size: $font-size-base * 1.2;
    color: #FFFFFF;
    margin: 0px;
    font-weight: $font-weight-heavy;
    margin-left: 4px;
  }
}

.home-block-margin {
  margin-bottom: 180px;
}


// Photography Section on Front Page
.photog {
  background-image: url("/assets/images/photo_ggb.jpg");
  background-size: cover;
  height: 850px;
  padding-top: 130px;

  // theming
  &.dark {
    h1, h2, h3, h4, h5 {
      color: #FFFFFF;
    }
    a {
      color: $link-color-darkbg;

      &:hover {
        color: darken($link-color-darkbg, 25%);
      }
    }
  }
}

.slick-photog img {
  border-top: solid 4px #FFFFFF;
  border-bottom: solid 4px #FFFFFF;
  border-left: solid 2px #FFFFFF;
  border-right: solid 2px #FFFFFF;
  height: 250px;
}


// Work Pages
.work-header { }

.work-hero {
  margin-top: -235px;
  text-align: right;

  > img {
    width: 100%;
    max-width: 350px;
  }
}
