.card-work {
  margin-bottom: 120px;

  .card-title {
    margin: 28px;
  }

  .card-title h4 {
    display: inline-block;
  }
}

.block {
  width: 100%;
  height: 350px;

  &.block-seafoam {
    background: linear-gradient(210.41deg, #B7F4E6 0%, #76E4CB 100%);
  }
  &.block-pink {
    background: linear-gradient(210.34deg, #F5D3FC 0%, #F4C0FF 100%);
  }
  &.block-peach {
    background: linear-gradient(210.35deg, #FFE9B6 0%, #FFCF80 100%);
  }
  &.block-sky {
    background: linear-gradient(210.35deg, #A9D3FF 0%, #80BDFF 100%);
  }
}

.home-block-margin {
  margin-bottom: 180px;
}


// Photography Section on Front Page
.photog {
  background-image: url("/assets/images/photo_ggb.jpg");
  background-size: cover;
  height: 850px;
  padding-top: 130px;

  // theming
  &.dark {
    h1, h2, h3, h4, h5 {
      color: #FFFFFF;
    }
    a {
      color: $link-color-darkbg;

      &:hover {
        color: darken($link-color-darkbg, 25%);
      }
    }
  }
}

.slick-photog img {
  border-top: solid 4px #FFFFFF;
  border-bottom: solid 4px #FFFFFF;
  border-left: solid 2px #FFFFFF;
  border-right: solid 2px #FFFFFF;
  height: 250px;
}
