body.theme-dark {
  $gray-dark:                 #333333;
  $gray:                      #828282;
  $gray-light:                #cccccc;

  $link-color:                #199ED7;
  $link-color-darkbg:         #6DCEF8;
  $color-base:                #FFFFFA;
}