.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}


// Responsive Utilities

.hidden-sm {
  @media (max-width: $breakpoint_sm) {
    @include responsive-invisibility();
  }
}
.hidden-md {
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    @include responsive-invisibility();
  }
}
.hidden-lg {
  @media (min-width: $breakpoint-md) {
    @include responsive-invisibility();
  }
}
